body{
    background-color: #335;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
}

.warning{
    text-align: center;
    word-wrap: normal;
    width: 400px;
    background-color: #FC0;
    border-radius: 10px;
    border: 2px solid #EB0;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    bottom: 20px;
    left: calc(50% - 200px - 1px);
    transition: opacity 2s;
    opacity: 1;
    color: #000;
    z-index: 999;
}

.warning.hidden{
    opacity: 0;
}

div.container{
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
}

div.container h1{
    font-size: 32px;
    color: #FFF;
    text-align: center;
}